{# app/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}OC Platforme{% endblock %}</title>

  {% block header %} 

 <div class="col-md-12">
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"  aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        
          <a class="navbar-brand" href="#">MamanPool</a>
          
        </div>
        <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">

          <ul class="nav navbar-nav" >
          <li role="presentation"><a href="{{path('profile')}}"> Profil</a>
        </li>
          <li role="presentation"><a href="#">Messages <span class="badge">3</span></a>
        </li>
          
      </ul>

       <form class="navbar-form navbar-left" role="form" method="POST" action="{{path('oc_userbundle_search')}}"  >
                    <div class="form-group">
                      <input type="text" name="username" placeholder="Recherche ..." class="form-control">
                    </div>
                        <a href="{{path('oc_userbundle_search')}}"><button type="submit" class="btn btn-default"> <i class="fa fa-search"></i></button></a>
                </form>

           

                


        
          {% if app.user %}
                    <ul class="nav navbar-nav navbar-right">
                        <li id="fat-menu" class="dropdown">
                          <a id="drop3" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                            {{app.user.name}}
                            <span class="caret"></span>
                          </a>
                          <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="https://twitter.com/fat">Messagerie (1)</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="{{path('show', {'username': app.user.username})}}">Profil</a></li>
                            
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="{{path('fos_user_profile_edit')}}">Modifier Profil</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="{{path('fos_user_security_logout')}}">Déconnexion</a></li>
                          </ul>
                        </li>
                      </ul>
                 {% else %}
                    <div class="navbar-form navbar-right">
                        <div class="form-group">
                            <a href="{{path('fos_user_security_login')}}"><button type="button" class="btn btn-success">Connexion</button></a>
                        
                            <a href="{{path('fos_user_registration_register')}}"><button type="button" class="btn btn-primary">Inscription</button></a>
                        </div>
                    </div>
                 {% endif %}

          
      
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
   </div>




  {% endblock %}

  {% block stylesheets %}
    {# On charge le CSS de bootstrap depuis le site directement #}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  {% endblock %}



</head>

<body>
  <div class="container">
    <div id="header" class="jumbotron">
      <h1>Ma plateforme d'annonces</h1>
      <p>
        Ce projet est propulsé par Symfony2,
        et construit grâce au MOOC OpenClassrooms et SensioLabs.
      </p>
      <p>
        <a class="btn btn-primary btn-lg" href="http://fr.openclassrooms.com/informatique/cours/developpez-votre-site-web-avec-le-framework-symfony2">
          Participer au MOOC »
        </a>
      </p>
    </div>
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    Connecté en tant que {{ app.user.username }}
    -
    <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
{% else %}
    <a href="{{ path('fos_user_security_login') }}">Connexion</a>
{% endif %}
    <div class="row">
      <div id="menu" class="col-md-3">
        <h3>Les annonces</h3>
        <ul class="nav nav-pills nav-stacked">
          <li><a href="{{ path('oc_platform_home') }}">Accueil</a></li>
          <li><a href="{{ path('oc_platform_add') }}">Ajouter une annonce</a></li>
        </ul>

        <h4>Dernières annonces</h4>
        {{ render(controller("AppBundle:Advert:menu", {'limit': 3})) }}
      </div>
      <div id="content" class="col-md-9">
        {% block body %}
        {% endblock %}
      </div>
    </div>

    <hr>

    <footer>
      <p>The sky's the limit © {{ 'now'|date('Y') }} and beyond.</p>
    </footer>
  </div>

  {% block javascripts %}
    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  {% endblock %}

</body>
</html>